<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vignette</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <img src="{% static 'img/epsi.png' %}" alt="Logo EPSI">
        </div>
        <div class="navbar-center">
            <a href="#" class="navbar-brand">Mon Site</a>
        </div>
        <nav class="navbar-right">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{% url 'accueil' %}" class="nav-link">Accueil</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Cartes pour la catégorie: {{ category.name }}</h1>
        <button onclick="window.location.href='{% url 'create_card' category.id %}'">Créer une Vignette</button>
        <div class="categories">
            {% for card in cards %}
                <div class="categorie">
                    <h2>{{ card.title }}</h2>
                    <img src="{{ card.image.url }}" alt="{{ card.title }}" style="max-width: 100%; border-radius: 6px;">
                    {% if card.music %}
                        <p>Musique: <a href="{{ card.music.url }}">Écouter</a></p>
                    {% endif %}
                    {% if card.video %}
                        <p>Vidéo: <a href="{{ card.video.url }}">Regarder</a></p>
                    {% endif %}
                    <p>{{ card.description }}</p>
                    <p>Créé par: {{ card.owner.username }} le {{ card.creation_date }}</p>
                    <div class="buttons">
                        <form action="{% url 'delete_card' card.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete">Supprimer</button>
                        </form>
                        <button onclick="window.location.href='{% url 'update_card' card.id %}'">Modifier</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
